body{
	background: #22BCE0;
}
div.buttons{
	margin: 0;
	position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%)
}
div figure{
	margin: 0;
	position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 30%)
}
